@media screena {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.children {
		display: table;
		height:100%;
	}

	.cell {
		display: table-cell;
		height:100%;	
	}
}

@media screen {

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.notes-table {
		display: table;
		border: 2px solid grey;
		border-radius: 7px;
		height:100%;
	}

	.notes-table > .notes-column {
		background-color: red;
	}

	.notes-table > .notes-row {
		display: table-row;
	}

	.notes-table > .notes-row > .note-cell {
		display: table-cell;
		height:100%;
		min-width: 150px;
		border: 2px solid green;		
		border-collapse: collapse;
		border: 1px dotted grey;		
	}

	.cell {
		height: 100%;
		background-color: white;
	}

	.cell.selected {
		background-color: #D2CAEC;
	}

	.content-box:hover > .content.edit-button {
		float: right;
		display: block;
		right: 2px;
		top: 5px;
	}

	.content-box > .content.edit-button {
		display: none;
	}

	.children {
		margin-left: 10px;
		margin-right: 5px;
	}


	[type="even"] {
		/*background-color: white;*/
	}

	[type="odd"] {
		/*background-color: #E3E3E3;*/
	}

	[draggable=true]{
		cursor: move;
	}

	[draggable=true]:hover{
		box-shadow:0 0 25px green; /* CSS3 */
	}

	[droppable=true]{
		position:relative;
		top:4px;
		min-width: 7px;
		min-height: 7px;
		background-color: blue;
		cursor: move;
	}


	[dropzone=move]{
		transition:
		box-shadow linear 0.2s,
		background-color linear 0.2s;
	}

	.interchild.over {
		min-width: 7px;
		min-height: 7px;

		background-color: black;
	}

	.cellaction-menu {
		background: url(cog.png) no-repeat scroll right center;
		background-color: black;

		min-width: 5px;
		min-height: 5px;

		z-index: 999;
		display: block;
		position: absolute;
		top: 3px;
		right: 3px;
	}

	.cellaction-menu:hover {
		background-color: white;
		border: 1px solid green;	
		display: flex;
		align-items: stretch;
		flex-flow: column wrap;
		z-index: 9999;
	}

	.cellaction-menu > a {
		display: none;
	}

	.cellaction-menu:hover > a {
		display: block;
	}

	.menu {
		position: absolute;
		background-color: white;
		border: 1px solid green;	
	}

	.button:hover, .button:focus, .button:active {
		animation-name: hvr-back-pulse;
		animation-duration: 1s;
		animation-delay: 0.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		background-color: #2098D1;
		color: #FFF;
	}

	.button {
		vertical-align: middle;
		transform: translateZ(0px);
		box-shadow: 0px 0px 1px transparent;
		backface-visibility: hidden;
		overflow: hidden;
		transition-duration: 0.5s;
		transition-property: color, background-color;
		text-align: center;

		border: 1px solid green;
		border-radius: 3px;
	}


	/*Visibilité de l'editeur*/
	.content-box, .content-form {
		display: block;
		height:100%;
	}

}